.root{
    -fx-background-color: white;
    -fx-background-radius: 10px 10px 10px 10px;
}
.pane{
    -fx-background-color: #6766CA;
    -fx-background-radius: 10px 10px 10px 10px;
}
.button1{
    -fx-text-fill: #A3A2B7;
    -fx-background-radius: 10px 10px 10px;
    -fx-background-color: #6766CA;
}
.button1:hover{
    -fx-background-radius: 10px 10px 10px;
    -fx-background-color: #FFFFFF;
}
.label {
    -fx-text-fill: white;
    -fx-background-color: #6766CA;
}
.image {
    -fx-background-color: #6766CA;
}
.fonticon {
    -fx-fill: #A3A2B7;
}
.vbox{
    -fx-background-radius: 0px 0px 10px 10px;
    -fx-background-color: white;
}
.label1{
    -fx-background-color: white;
    -fx-text-fill: #000000;
}
.search {
    -fx-text-fill: #a2a3b7;
    -fx-background-color: #A3A2B7;
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-border-color: transparent;
}
.search:hover{
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-background-color: #CEAB44;
    -fx-border-color: transparent;
}
.label2{
    -fx-background-radius: 10px 10px 10px 10px;
}
.speech{
    -fx-text-fill:#A3A2B7 ;
    -fx-background-color: #A3A2B7;
    -fx-border-color: transparent;
}
.speech:hover{
    -fx-background-color: #CEAB44;
    -fx-border-color: transparent;
}
.listview{
    -fx-border-color: transparent;
    -fx-background-radius: 5px 5px 5px 5px;
}
.button2{
    -fx-background-color: #CEAB44;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-color: transparent;
}
.button2:hover{
    -fx-background-color: #A3A2B7 ;
    -fx-background-radius: 10px 10px 10px 10px;
}
.language{
    -fx-background-color: #A3A2B7;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-color: transparent;
}
.btexchange{
    -fx-background-color: #F3F3F3;
    -fx-background-radius: 5px 5px 5px 5px;
}
.btexchange:hover{
    -fx-background-color: white;
    -fx-background-radius: 5px 5px 5px 5px;
}
.btdictionary{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-text-fill: #A3A2B7;
}
.bttranslate{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-text-fill: #A3A2B7;
}
.btfix{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-text-fill: #A3A2B7;
}
.btpractice{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-text-fill: #A3A2B7;
}
.btabout{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-text-fill: #A3A2B7;
}
btstart {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-text-fill: #A3A2B7;
}
.btstart:hover{
    -fx-background-color: #CEAB44;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-text-fill: #000000;
}
.htmleditor{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #A3A2B7;
    -fx-border-width: 5px;
}
.labelfix{
    -fx-border-color: transparent;
    -fx-background-radius: 5px 5px 5px 5px;
}
.savedelete{
    -fx-background-color: #A2A3B7;
    -fx-border-color: transparent;
    -fx-background-radius: 5px 5px 5px 5px;
}
.savedelete:hover{
    -fx-background-color: #CEAB44;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-color: transparent;
}
.hboxgame{
    -fx-background-color: white;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-color: #a2a3b7;
    -fx-border-width: 10px 10px 10px 10px;
    -fx-border-radius: 10px 10px 10px 10px;
}
.labelrule {
    -fx-background-color: white;
    -fx-text-fill: red;
}
.label3{
    -fx-background-color: white;
    -fx-text-fill: red;
}
.btstartgame{
    -fx-background-color: #a2a3b7 ;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-text-fill: black;
}
.btstartgame:hover{
    -fx-background-color: #ceab44;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-text-fill: #000000;
}
.labelabout{
    -fx-background-color: white;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-color: #a3a2b7;
    -fx-text-fill: red;
    -fx-border-radius: 5px 5px 5px 5px;
}
.label4{
    -fx-background-color: #a2b3d7;
    -fx-border-color: transparent;
    -fx-border-width: 5px 5px 5px 5px;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-text-fill: #6766ca;
    -fx-background-radius: 5px 5px 5px 5px;
}
.anchorPane1{
    -fx-background-color: #57a375;
    -fx-background-radius: 5px 5px 5px 5px;
}
.anchorPane2{
    -fx-background-color: white;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-border-with: 10px 10px 10px 10px;
    -fx-border-radius: 5px 5px 5px 5px;
}
.label5{
    -fx-background-color: white;
    -fx-text-fill: black;
}
.btcheck{
    -fx-background-color: #a3a2b7;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
}
.btcheck:hover{
    -fx-background-color: #CEAB44;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
}
.btexit{
    -fx-background-color: white;
    -fx-background-radius: 8px 8px 8px 8px;
    -fx-border-color: transparent;
}
.btexit:hover{
    -fx-background-color: #CEAB44;
    -fx-background-radius: 8px 8px 8px 8px;
    -fx-border-color: transparent;
}
.anchorPane3{
    -fx-background-color: #6766ca;
    -fx-background-radius: 8px 8px 8px 8px;
    -fx-border-color: transparent;
}
.panegame{
    -fx-background-color: white;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-color: transparent;
    -fx-border-width: 7px 7px 7px 7px;
    -fx-border-radius: 10px 10px 10px 10px;
}
